
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Allow users to create their own user document upon signup
    match /users/{userId} {
      allow read, update, delete: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow users to create their own mate code upon signup
    match /codes/{codeId} {
       allow read, update, delete: if request.auth != null;
       // Allow create only if the user is creating their own mate code during signup
       allow create: if request.auth != null && request.resource.data.ownerUid == request.auth.uid && request.resource.data.type == '메이트코드';
    }

    // Allow logged-in users to access other collections
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
